<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryhmakaakkoapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RyhmaKaakkoApplication">
        <activity android:name=".activity_diary_details"></activity>
        <activity
            android:name=".activity_settings"
            android:label="Tavoitteet" />
        <activity
            android:name=".activity_diary"
            android:label="Päiväkirja" />
        <activity
            android:name=".activity_diary_day"
            android:label="Katso merkintöjä" />
        <activity
            android:name=".activity_diary_new"
            android:label="Tee merkintä" />
        <activity
            android:name=".MainActivity"
            android:label="SugarSteps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>